#pano {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#attribution {
    position: absolute;
    background: rgba(0,0,0,0.5);
    font-size: 10px;
    color: rgba(255,255,255,0.45);
    z-index: 100;
    white-space: nowrap;
    padding: 3px;
    top: 100vh;
    transform: translateY(-100%);
}