<ng-container *ngIf="aktiverStern">
  <mat-card>
    <mat-card-header>
      <button mat-icon-button mat-card-avatar (click)="clearAktiverStern()">
        <mat-icon color="accent">close</mat-icon>
      </button>

      <mat-card-title>{{aktiverStern.Name}}</mat-card-title>
      <mat-card-subtitle>
        {{aktiverStern.bfID}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Rektaszension: {{aktiverStern.RAh}}h ({{aktiverStern.RAh | htodeg}}°)<br/>
        Deklination: {{aktiverStern.DEd}}°
      </p>
    </mat-card-content>
  </mat-card>
</ng-container>