<ng-container *ngIf="sterneService.aktiverStern">
  <mat-card>
    <mat-card-header>
      <button mat-icon-button mat-card-avatar (click)="clearAktiverStern()">
        <mat-icon color="accent">close</mat-icon>
      </button>

      <mat-card-title>{{sterneService.aktiverStern.name}}</mat-card-title>
      <mat-card-subtitle>
        RektH: {{sterneService.aktiverStern.rektas}}
        |
        DeklDeg: {{sterneService.aktiverStern.dekl}}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</ng-container>